body {
    background-color: gray;
}

#Jgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
#Jwhite {
    background-color: white;
    grid-column: 1 / 100;
    grid-row: 1 / 100;
}

#Jred {
    background-color: red;
    grid-column: 37 / 63;
    grid-row: 30 / 70;
    border-radius: 100%;
}

#Igrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(90, 1fr);
    grid-template-rows: repeat(90, 1fr);
}
#Igreen {
    background-color: green;
    grid-column: 1 / 30;
    grid-row: 1 / 90;
}
#Iwhite {
    background-color: white;
    grid-column: 30 / 60;
    grid-row: 1 / 90;
}
#Ired {
    background-color: red;
    grid-column: 60 / 90;
    grid-row: 1 / 90;
}

#Ggrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(90, 1fr);
    grid-template-rows: repeat(90, 1fr);
}
#Gblack {
    background-color: black;
    grid-column: 1 / 90;
    grid-row: 1 / 30;
}
#Gred {
    background-color: red;
    grid-column: 1 / 90;
    grid-row: 30 / 60;
}
#Gyellow {
    background-color: yellow;
    grid-column: 1 / 90;
    grid-row: 60 / 90;
}

#Bgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(90, 1fr);
    grid-template-rows: repeat(90, 1fr);
}
#BBlack {
    background-color: black;
    grid-column: 1 / 30;
    grid-row: 1 / 90;
}
#Byellow {
    background-color: yellow;
    grid-column: 30 / 60;
    grid-row: 1 / 90;
}
#Bred {
    background-color: red;
    grid-column: 60 / 90;
    grid-row: 1 / 90;
}

#Tgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
#TredUP {
    background-color: red;
    grid-column: 1 / 100;
    grid-row: 1 / 15;
}s
#TwhiteUP {
    background-color: white;
    grid-column: 1 / 100;
    grid-row: 15 / 30;
}
#Tblue {
    background-color: darkblue;
    grid-column: 1 / 100;
    grid-row: 30 / 70;
}
#TwhiteDOWN {
    background-color: white;
    grid-column: 1 / 100;
    grid-row: 70 / 85;
}
#TredDOWN {
    background-color: red;
    grid-column: 1 / 100;
    grid-row: 85 / 100;
}

#Sgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
#Sred {
    background-color: red;
    grid-column: 1 / 100;
    grid-row: 1 / 100;
}
#SwhiteVER {
    background-color: white;
    grid-column: 43 / 57;
    grid-row: 20 / 80;
}
#SwhiteHOR {
    background-color: white;
    grid-column: 29 / 71;
    grid-row: 40 / 60;
}

#UAEgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
#UAEred {
    background-color: red;
    grid-column: 1 / 25;
    grid-row: 1 / 100;
}
#UAEgreen {
    background-color: green;
    grid-column: 25 / 100;
    grid-row: 1 / 33;
}
#UAEwhite {
    background-color: white;
    grid-column: 25 / 100;
    grid-row: 33 / 66;
}
#UAEblack {
    background-color: black;
    grid-column: 25 / 100;
    grid-row: 66 / 100;
}

#SWgrid {
    height: 450px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}
#SWblue {
    background-color: rgb(0, 140, 255);
    grid-column: 1 / 100;
    grid-row: 1 / 100;
}
#SWyellowVER {
    background-color: yellow;
    grid-column: 30 / 45;
    grid-row: 1 / 100;
}
#SWyellowHOR {
    background-color: yellow;
    grid-column: 1 / 100;
    grid-row: 40 / 60;
}



