body {
    background-color: violet;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#first {
    color: darkviolet;
    font-style: italic;
    font-weight: 900;
}

@media screen and (min width 700px){
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}